<div class="flex gap-4">
    <div class="w-4/12">
    <mat-card class="back">
        <h2>Total Orders in Place</h2>
        <h6>{{totalOrders}}</h6>
    </mat-card>
    </div>
    <div class="w-4/12">
        <mat-card class="back">
            <h2>Total Products in Inventory</h2>
            <h6>{{totalProducts}}</h6>
        </mat-card>
        </div>
        <div class="w-4/12">
            <mat-card class="back">
                <h2>Total Brands Available</h2>
                <h6>{{totalBrands}}</h6>
            </mat-card>
            </div>
</div>
